{% extends 'mailer/base.html' %}
{% block tilte%}<title>Add New File</title>{% endblock %}
{% block content %}

<header>
  <div class="container">
    <h1 class='text-center' style='font-size: 60px;'>
      Add New File
    </h1>
  </div>
  <div class="container">
    <p class='font-weight-light text-center font-italic'>
      add new file into archive
    </p>
  </div>
</header>

<section>
  <div class="container">
    <h2>
      <form class="my-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          {{ field }}
        </div>
        {% endfor %}
        <div class="form-group">
          <button class="btn btn-outline-primary" type="submit">Submit</button>
        </div>
      </form>
    </h2>
  </div>
</section>
{% endblock %}