{% extends 'mailer/base.html' %}
{% block title %}<title>Archive</title>{% endblock %}
{% block content %}

<header>
  <div class='container'>
    <h1>
      Archive
    </h1>
  </div>
  <div class='container'>
    <p>
      manage your file here
    </p>
  </div>
</header>

<section>
  <div class="container">
    <h2>
      <a class='btn btn-outline-primary' href="{% url 'mailer:archive_add' %}">+</a>
    </h2>
    <h2>
      <table>
        <thead>
          <tr>
            <th>Archive Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody >
          {% for object in objects %}
          <tr>
            <td>{{ object.archive_name }}</td>
            <td><a class="btn" href="{% url 'mailer:archive_delete' id=object.id %}">delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </h2>
  </div>
</section>

{% endblock %}