{% extends 'mailer/base.html' %}
{% block title %}<title>Delete File</title>{% endblock %}
{% block content %}
<header>
    <div class="container">
      <h1>Delete File</h1>
    </div>
    <div class="container">
      <p class='font-weight-light text-center font-italic'>
        sure you wanna do this?
      </p>
    </div>
  </header>
  
  <section>
    <div class="container">
      <h2>
        <form class="my-form" method="post">
          {% csrf_token %}
            <button class="btn btn-outline-primary " type="submit">CONFIRM</button>
        </form>
      </h2>
    </div>
  </section>
  {% endblock %}