{% extends 'mailer/base.html' %}
{% block title %}<title>Mailer</title>{% endblock %}
{% block content %}
<div class='container'>
  <h1 class='text-center' style='font-size: 60px;'>
    Outlook Postman
  </h1>
  <p class='font-weight-light text-center font-italic'>
    do your daily mailjob automaticlly & save your time
  </p>
  <h2>
    <div class='row justify-content-between'>
      <div class='col-auto'>
        <a class='btn btn-outline-primary' href="{% url 'mailer:add_detail' %}" style='width: 80px;'>Add</a>
      </div>
    </div>
  </h2>
  <h2>
    <table class='table'>
      <thead class='font-weight-bolder' style='font-size: 20px;'>
        <tr>
          <th scope='col' style='width: 500px;'>Task</th>
          <th scope='col' style='width: 900px;'>Subject</th>
          <th scope='col' style='width: 900px;'>To</th>
          <th scope='col' style='width: 200px;'></th>
        </tr>
      </thead>
      <tbody class='font-weight-normal' style='font-size: 20px;'>
        {% for object in objects %}
        <tr>
          <td><a href="{% url 'mailer:edit_detail' id=object.id %}">{{ object.task_name }}</a></td>
          <td>{{ object.subject }}</td>
          <td>{{ object.to }}</td>
          <td><a href="{% url 'mailer:delete_detail' id=object.id %}">delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </h2>
</div>
{% endblock %}