{% extends 'mailer/base.html' %}

{% block content %}
<div class='p-3 container'>
  <h1 class='text-center' style='font-size: 60px;'>
    Login
  </h1>
  <p class='font-weight-light text-center font-italic'>
    login to start your mailjob
  </p>
  
  <div class='row justify-content-center' style='font-size: 20px;'>
    <form method="post">
      <small class='text-danger'>{{ form.non_field_errors|safe }}</small>

      {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
      </p>
      {% endfor %}
      <button type="submit">Log in</button>
      <a href="{% url 'mailer:sign_up' %}">New to My Site? Sign up</a>
    </form>
  </div>
</div>
{% endblock %}