{% extends 'mailer/base.html' %}
{% block title %}<title>Add</title>{% endblock %}
{% block content %}

<header>
  <div class="container">
    <h1>
      Add New Task
    </h1>
  </div>
  <div class="container">
    <p class='font-weight-light text-center font-italic'>
      add a periodic task here
    </p>
  </div>
</header>

<section>
  <div class="container">
    <h2>
      <form class="my-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for fields in form %}
        <div class="form-group">
          {{ fields.label_tag }}
          {{ fields }}
        </div>
        {% if fields.name == "attachment" %}
        <hr>
        {% endif %}
        {% endfor %}
        <div class="form-group">
          <button class="btn btn-outline-primary" type="submit">Submit</button>
        </div>

      </form>
    </h2>
  </div>
</section>

{% endblock %}