{% extends 'mailer/base.html' %}
{% block title %}<title>Sign up</title>{% endblock %}
{% block content %}

<header>
  <div class="container">
    <h1>
      Sign Up
    </h1>
  </div>
  <div class="containr">
    <p>
      sign as a new user
    </p>
  </div>
</header>

<section>
  <div class="container">
    <h2>
      <form class="my-form" method="post">
        {% csrf_token %}
        {% for fields in form%}
        <div class="form-group">
          {{ fields.label_tag}}<small class="help-text">{{ fields.help_text}}</small>
          {{ fields}}
          <small class="error-text">{{ fields.errors }}</small>
        </div>
        {% endfor %}
        <div class="form-group">
          <button class="btn btn-outline-primary" type="submit">Sign up</button>
        </div>
      </form>
    </h2>
  </div>
</section>
{% endblock %}